<div class="row bounceInRight animated" ng-controller="chartIndexCtrl">
    <div class="col-lg-12 col-xs-12">
      <div class="page-title"><strong>图表</strong></div>
    </div>


    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div  class="x_panel">
          <div class="x_title"><h5><strong>手机销售</strong></h5></div>
          <div class="x_content">
              <div id="chart1" class="chart">
                
              </div>
          </div>
        </div>
    </div>


    <div class="col-lg-6 col-sm-6 col-xs-12">

        <div  class="x_panel">
          <div class="x_title"><h5><strong>市场份额</strong></h5></div>
          <div class="x_content">
              <div id="chart2" class="chart">
                
              </div>
          </div>
        </div>
    </div>
</div>
